@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/pages/shared/_Layout.cshtml";
}
@section Css{
    <link rel="stylesheet" type="text/css" href="~/css/home/home.css">
}
    <div class="k main-form">
        <div class="k home-head">
            <span class="k t home-title">
                TỔ HỖ TRỢ CÁC CHƯƠNG TRÌNH NỘI BỘ - TRUNG TÂM CNTT
            </span>
        </div>
        <div class="k home-body">
            <div class="k border-item">
                <div class="k item-form">
                    <span class="k t title-item">CHƯƠNG TRÌNH PHÂN RÃ DOANH THU</span>
                </div>
            </div>

            <div class="k border-item">
                <div class="k item-form">
                    <span class="k t title-item">CHƯƠNG TRÌNH TÍNH LƯƠNG TTCNTT</span>
                </div>
            </div>

        </div>
    </div>