@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/pages/shared/_Layout.cshtml";
}
@section Css{
    <link rel="stylesheet" type="text/css" href="~/css/home/home.css">
}
<div class="k main-form">
    <div class="k home-head">
        <div class="k img-log"></div>
        <span class="k t home-title">
            TỔ HỖ TRỢ CÁC CHƯƠNG TRÌNH NỘI BỘ - TRUNG TÂM CNTT
        </span>
        <div class="k covietnam"></div>
    </div>
    <div class="k home-body">

        <div class="k border-item">
            <a href="http://10.70.31.18:3000">
                <div class="k item-form">
                    <span class="k t title-item">CHƯƠNG TRÌNH PHÂN RÃ DOANH THU</span>
                </div>
            </a>
        </div>

        <div class="k border-item">
            <a href="http://10.70.31.15:3000/">
                <div class="k item-form tab2">
                    <span class="k t title-item ">DASHBOARD TTCNTT</span>
                </div>
            </a>
        </div>

        <div class="k border-item">
            <a href="http://ioc.vnpt.vn/">
                <div class="k item-form tab3">
                    <span class="k t title-item ">DASHBOARD TẬP ĐOÀN</span>
                </div>
            </a>
        </div>

        <div class="k border-item">
            <a href="http://10.70.51.11:7000/">
                <div class="k item-form tab4">
                    <span class="k t title-item ">CTR BHST</span>
                </div>
            </a>
        </div>

        <div class="k border-item">
            <a href="http://10.70.51.11:4000/">
                <div class="k item-form tab5">
                    <span class="k t title-item ">CTR FTTX</span>
                </div>
            </a>
        </div>

        <div class="k border-item">
            <a href="http://10.70.31.18:2002/">
                <div class="k item-form tab6">
                    <span class="k t title-item ">SLA</span>
                </div>
            </a>
        </div>

        <div class="k border-item">
            <a href="http://10.70.51.11:7007/">
                <div class="k item-form tab7">
                    <span class="k t title-item ">CTR TÍNH LƯƠNG TTCNTT</span>
                </div>
            </a>
        </div>

        <div class="k border-item">
            <div class="k item-form tab7">
                <span class="k t title-item ">Khác +</span>
            </div>
        </div>

    </div>
</div>